/*header*/
body{
    background-color: rgb(58, 56, 62);
    color: white;
}

header{
    background-color: rgb(82, 80, 83);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    border-top: 15px;

}

a {
    text-decoration: none;
    color: inherit;
}

/*footer*/
footer{
    background-color: rgb(82, 80, 83);
    text-align: center;
    display: flex;
    margin-top: auto; 
}

/*lista general de juegos*/
.seccion-juegos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: space-evenly;
}

.objeto{
    align-items: center;
    text-align: center;
    border: solid 2px black;
    padding: 5px;
}

.imagen-objeto{
    width: 150px;
    height: auto;
    border: solid 3px black;

}

.imagen-logo{
    width: 100px;
    height: auto;
}

.header-espacio{
    margin-top: 30px;
}

/*detalle de un juego*/

article{
    display: flex;
    justify-content: space-evenly;
}
.imagen-detalle{
    width: 500px;
    height: auto;
    border: solid 3px black;
}
.descripcion{
    border: solid 3px black;
    font-size: x-large;
    margin-right: 2%;
}
